# Flutter related
**/mobile/.dart_tool/
**/mobile/build/
**/mobile/.flutter-plugins
**/mobile/.flutter-plugins-dependencies
**/mobile/.packages
**/mobile/.pub-cache/
**/mobile/.project

# Node/Web related
**/adminpanel/node_modules/
**/adminpanel/dist/

# System files
.DS_Store
Thumbs.db

# Chrome device profile (temp)
**/.dart_tool/chrome-device/
